<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>


<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    #foreach($p in $date)
    #even
    <tr>
        <td>$p.Id</td>
        <td>$p.Title</td>
        <td>$p.Content</td>
    </tr>
    #odd
    <tr>
        <td>$p.Id</td>
        <td>$p.Title</td>
        <td>$p.Content</td>
    </tr>
    #end
</table>

</body>
</html>
